<%- include("../partials/header") %>

<h1 class="page-title"><%= title %></h1>

<ul class="vehicle-list">
  <% vehicles.forEach(vehicle => { %>
    <li>
      <a href="/vehicle/<%= vehicle.vehicle_id %>">
        <%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %>
      </a>
      <br>
      <span class="vehicle-price">$<%= Number(vehicle.price).toLocaleString() %></span>
    </li>
  <% }) %>
</ul>

<%- include("../partials/footer") %>