<h1><%= title %></h1>

<ul>
  <% vehicles.forEach(vehicle => { %>
    <li>
      <a href="/vehicle/<%= vehicle.vehicle_id %>">
        <%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %>
      </a>
      - $<%= vehicle.price %>
    </li>
  <% }) %>
</ul>